{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white">
                    <div class="card-body p-5 text-center">
                        <h1>Welcome {{ username }}!</h1>
                        <br />
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="justify-content: center; display: flex;">
                          <div class="btn-group me-2" role="group" aria-label="First group">
                            <a type="button" class="btn btn-primary" href="{{ url_for('receipts.viewreceipts') }}">View Receipts</a>
                          </div>
                          <div class="btn-group me-2" role="group" aria-label="Second group">
                            <a type="button" class="btn btn-secondary" href="{{ url_for('receipts.addreceipt') }}">Add Receipt</a>
                          </div>
                          <div class="btn-group" role="group" aria-label="Third group">
                            <a type="button" class="btn btn-info" href="{{ url_for('auth.logout') }}">Logout</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}